.source-card {
  margin-top: 10px;
  
  width: 85%;
  border-radius: 15px 50px;
}

.instruction {
  font-size: 2vw;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 15%;
}

.options {
  font-size: 1.5vw;
  word-break: break-all;
}

/* today */
.gallery-container {
  border: 1px solid black;
  height: 100%;

}